@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style: none;
}

img {
    border: 0;
}

body {
    font-family: "맑은 고딕", Malgun Gothic, arial, sans-serif;
}

.clear::after {
    content: "";
    clear: both;
    display: block;
}

/*
old:::
html, body {
    height: 100%;
}

height: 100%;
*/

.cover {
    background: url(https://t4.ftcdn.net/jpg/04/81/41/97/360_F_481419706_suiSEIertY741Z6rEy3Lj2pv6zzSNKZu.jpg) no-repeat;
    width: 100%;
    height: 100vh;  /*viewport high */
    background-size:  cover;
}

/*메세지 박스 */
높이 100픽셀 안에서
가로 세로 수평에 위치하게 된다. 

.message {
    display: flex; 
    justify-content: space-around; 
    align-items: center;
    height: 500px; 
    border: 1px solid #f00;
    padding: 0.8em;
}

button{
    width: 100px;
    height: 30px;
}








