@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "맑은 고딕", MalgunGothic, arial, sans-serif;
    font-size: 16px;
    color: #666;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    border: 0;
}

ul,
li {
    list-style: none;
}

header,
footer,
nav,
section {
    display: block;
}

.clear::after {
    clear: both;
    content: "";
    display: block;
}


/*basic*/

.modal{
    position: fixed;
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
}
.modal .modal_inner{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    background: #fff;
    transform: translate(-50%, -50%);
}

.modal .modal_inner .motitle{
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.modal .modal_inner .mocon{
    padding: 20px;
}

.modal .modal_inner button{
    width: 100px;
    height: 30px;
    border: 0;
    background: #ccc;
    position: absolute;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
}
    
.wrap {
    width: 1200px;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 100px;
    position: relative;
    z-index: 1;
}

header h1 {
    padding-top: 30px;
    float: left;
}

header nav {
    width: 800px;
    float: right;
    padding-top: 30px;
}


nav ul.gnb {
    float: left;
}

nav ul.gnb > li {
    position: relative;
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    float: left;
    background: #eee;

}

nav ul.gnb > li> a {
    display: block;
    font-weight: bold;
}

nav ul.gnb >li:hover>a {
    background: #c88;
    color: #fff;
}



nav ul.gnb > li ul.sub {
    position: absolute;
    top: 40px;
    left: 0;
    height: 160px;
    width: 100%;
    background: #fff;
    display: none;
}

nav ul.gnb > li ul.sub li {
    text-align: center;
    width: 100%;
    height: 40px;
}

nav ul.gnb > li ul.sub li a {
    display: block;
    font-weight: bold;
}

nav ul.gnb > li ul.sub li:hover {
    background: #caa;
    color: #fff;
}


/*슬라이더*/

.slider {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.slider .slider_all {
    position: relative;
}

.slider .slider_all li {
    position: absolute;
    top: 0;
    left: 0;
}



/*컨텐츠 영역*/

.contents {
    width: 100%;
}

.contents h2 {
    width: 100px;
    height: 40px;
    line-height: 40px;
    background: #666;
    color: #fff;
    font-size: 15px;
    text-align: center;
    border-radius: 10px 10px 0 0;
    cursor: pointer;

}

.contents h2:hover {
    background: #c88;
}



/*공지사항*/

section.con1 {
    width: 500px;
    height: 200px;
    float: left;
    position: relative;
}
section.con1 h2.r100{
    position: absolute;
    top: 0;
    left: 101px;
}

section.con1 h2.on{
    display: block;
    background: #c88;
}

section.con1 ul.on{
    display: block;
}


section.con1 ul{
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
}



section.con1 ul.notice {
    width: 100%;
}
section.con1 ul.notice li{
    position: relative; 
    width: 100%;
    height: 40px;
    line-height: 40px;
}
section.con1 ul.notice li a {}

section.con1 ul.notice li:hover {
    color: #c88;
    font-weight: bold;
}


section.con1 ul.notice li span.day{
    position: absolute;
    right: 20px;
}


/*갤러리*/
ul.gallery{
}

ul.gallery li{
    float: left;
    padding-left: 5px;
    margin-top: 5px;
    margin-left: 7px;
}

ul.gallery li a {
    display: block;
}
ul.gallery li:hover{
    opacity: 0.8;
}


/*배너*/
section.con2 {
    width: 350px;
    height: 200px;
    float: left;
}

section.con2 img {
    margin-top: 10px;
    width: 95%;
    text-align: center;
    padding-left: 10px;
}

section.con2 img:hover{
    opacity: 0.8;
}

/*바로가기*/

section.con3 {
    width: 350px;
    height: 200px;
    float: left;
}

section.con3 ul.baro {
    width: 85%;
    margin: 0 auto;
}

section.con3 ul.baro li {
    width: 100%;
    height: 70px;
    line-height: 70px;
    background: #eee;
    text-align: center;
    border-radius: 20px;
    margin-top: 5px;
}

section.con3 ul.baro li a {
    display: block;

}

section.con3 ul.baro li:hover {
    background: #c88;
    color: #fff;
    font-weight: bold;
}


/*풋터*/

footer {
    width: 100%;
    height: 100px;
}


footer h3 {
    padding-top: 30px;
    float: left;
}

footer ul.copyright {
    width: 650px;
    height: 100px;
    float: left;
    padding-top: 10px;
    padding-left: 25px;
    box-sizing: border-box;
}


footer ul.copyright li{
    float: left;
    margin-right: 55px;
}

footer ul.sns {
    width: 350px;
    height: 100px;
    float: left;
}

footer ul.sns div{
    width: 80%;
    margin: 0 auto;
}

footer ul.sns li{
    width: 50px;
    height: 50px;
    line-height: 50px;
    float: left;
    margin-left: 32px;
    margin-top: 30px;
    text-align: center;
    display: block;
}

footer ul.sns li a{
}


footer ul.sns li span.bt1{
    width: 50px;
    height: 50px;
    display: block;
    background: url(../images/tw_g.png) no-repeat 50% 50%;
    background-size: 100%;
}


footer ul.sns li span.bt1:hover{
    background: url(../images/tw.png) no-repeat 50% 50%;
    background-size: 100%;
}


footer ul.sns li span.bt2{
    width: 50px;
    height: 50px;
    background: url(../images/fb_g.png) no-repeat 50% 50%;
    background-size: 100%;
    display: block;
}


footer ul.sns li span.bt2:hover{
    background: url(../images/fb.png) no-repeat 50% 50%;
    background-size: 100%;
}


footer ul.sns li span.bt3{
    width: 50px;
    height: 50px;
    background: url(../images/ins_g.png) no-repeat 50% 50%;
    background-size: 100%;
    display: block;
}


footer ul.sns li span.bt3:hover{
    background: url(../images/ins.png) no-repeat 50% 50%;
    background-size: 100%;
}



/* 1024픽셀 이하라면*/

@media (max-width: 1024px) {
    
    .wrap{width: 100%;
    }
    
    header {
    width: 100%;
    height: 100px;
    position: relative;
    z-index: 1;
        
}

header h1 {
    padding-top: 30px;
    float: left;
}

    header nav {
    display: none;
}
    
    
    .slider{
        width: 100%;
        height: 150px;
    }
    
    footer {
    float: none;
}
}


/*768픽셀 이하라면*/
@media (max-width: 768px) {
        header {
    width: 100%;
    height: 100px;
    position: relative;
    z-index: 1;
}

header h1 {
    padding-top: 30px;
    float: left;
}

header nav {
    display: none;
}
   
.slider  img{
    max-width: 100%;
}
    
    
.contents{
}

    .contents ul.notice li{
    max-width: 75%;
    }

    .contents ul.notice li .day{
/*
        display: none;
*/
        border: 1px solid #f00;
    }
    
    
    
    footer {
    float: none;
    
    }
    
    footer ul.copyright li{
        float: none;
    }
    
    footer ul.sns{
        margin-top: 80px;
    }
    
    
}


/*480픽셀 이하라면*/
@media (max-width: 480px) {
    header {
    width: 100%;
    height: 100px;
    position: relative;
    z-index: 1;
}

header h1 {
    padding-top: 30px;
    float: left;
}

header nav {
    display: none;
}

.contents{
    border: none;;
}
    
    
    .con1,.con2, .con3{
        width: 100%;
        border: 1px solid #00f;
    }
    
    
footer {
    float: none;
    
    }
    
    footer ul.copyright li{
        float: none;
    }
}
