@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "맑은 고딕", MalgunGothic, arial, sans-serif;
    font-size: 16ppx;
    color: #333;
}

ul,
li {
    list-style: none;
}

.wrap {
    width: 1200px;
    margin: 0 auto;
}

header,
footer,
nav,
section {
    display: block;
}

img {
    border: none;
}

a {
    text-decoration: none;
    color: inherit;
}


.clear::after {
    clear: both;
    content: "";
    display: block;
}

/*모달창*/

.modal{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: 10;
    display: none;
}
.modal .modal_inner{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    background: #fff;
    transform: translate(-50%,-50%);
    
}
.modal .modal_inner .motitle{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}
.modal .modal_inner .mocon{
    padding: 20px;
}
.modal .modal_inner button{
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    border: 0;
}

.modal .modal_inner button:hover{
    background: #c88;
    color: #fff;
}



/*header*/
header {
    width: 1200px;
    height: 100px;
    position: relative;
    z-index: 1;
}

header h1 {
    width: 200px;
    padding-top: 30px;
    float: left;
}


header nav {
    float: right;
    width: 800px;
    padding-top: 30px;
}

header nav ul.gnb {
    float: left;
}

header nav ul.gnb > li {
    position: relative;
    width: 200px;
    height: 40px;
    line-height: 40px;
    float: left;
    text-align: center;
    background: #e6e6e6;
}

header nav ul.gnb > li > a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: bold;
}

header nav ul.gnb > li:hover > a {
    background: #c88;
    color: #fff;
}

header nav ul.gnb > li > ul.sub {
    position: absolute;
    top: 40px;
    width: 100%;
    height: 160px;
    background: #fff;
    display: none;
}

header nav ul.gnb > li > ul.sub > li {}

header nav ul.gnb > li > ul.sub > li a {
    display: block;
    width: 100%;
    height: 100%;
}

header nav ul.gnb > li > ul.sub > li:hover a {
    background: #c55;
    color: #fff;
}



/*슬라이더 */
.slider {
    width: 1200px;
    height: 300px;
    overflow: hidden;
}

.slider ul.slider_all {
    position: relative;
}

.slider ul.slider_all li {
    position: absolute;
    top: 0;
    left: 0;
}

.slider ul.slider_all li a {
    display: block;
    width: 100%;
    height: 100%;
}

.slider ul.slider_all li span {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 50px;
    display: block;    
    line-height: 50px;
    text-align: center;
    background: rgba(0,0,0,0.5);
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}



/*contents*/
.contents {
    width: 100%;
    height: 200px;
}

.contents h2 {
    width: 100px;
    height: 40px;
    font-size: 15px;
    line-height: 40px;
    background: #666;
    color: #fff;
    text-align: center;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
}

.contents h2:hover {
    background: #c88;
}



/* con1공지 및 갤러리 공통사항*/
.contents section.con1 ul{
    display: none;
}

.contents section.con1 h2.on{
    background: #c88;
}
.contents section.con1 ul.on{
        display: block;
}

/*공지사항*/
section.con1 {
    width: 500px;
    height: 200px;
    float: left;
    position: relative;
}


section.con1 h2 {
    position: absolute;
    top: 0;
    left: 0;
}

section.con1 h2.r100 {
    left: 101px;
}


section.con1 ul {
    position: absolute;
    top: 40px;
    left: 0;
}


/*공지사항*/

section.con1 ul.notice{
width: 100%;}
section.con1 ul.notice li{
    position: relative;
    width: 100%;
    height: 40px;
    line-height: 40px;
}
section.con1 ul.notice li a{
    display: block;
}
section.con1 ul.notice li:hover{
    color:#c88;
    font-weight: bold;
}

section.con1 ul.notice li span.day{
    position: absolute;
    right:20px;
}


/*갤러리*/

section.con1 ul.gallery{
width: 100%;
}
section.con1 ul.gallery li{
    float: left;
    margin-left: 5px;
    margin-top: 10px;
}
section.con1 ul.gallery li a{
    display: block;
}
section.con1 ul.gallery li:hover{
    opacity: 0.8;
}




/* 배너 */
section.con2 {
    width: 350px;
    height: 200px;
    float: left;
}

section.con2 img {
    margin-top: 10px;
}

section.con2 img:hover{
    opacity: 0.8;
} 

/*바로가기*/
section.con3 {
    width: 350px;
    height: 200px;
    float: left;
}

section.con3 ul.baro {}

section.con3 ul.baro li {
    width: 80%;
    height: 70px;
    margin: 0 auto;
    text-align: center;
    line-height: 65px;
    background: #eee;
    border-radius: 10px;
    margin-top: 7px;
}

section.con3 ul.baro li a {
    display: block;
}

section.con3 ul.baro li:hover {
    background: #c88;
    color: #fff;
}


/*하단*/
footer {
    width: 100%;
    height: 100px;
}

/*하단로고*/
footer h3 {
    width: 200px;
    float: left;
    padding-top: 30px;
}

footer h3 a {
    display: block;
}

/*저작권*/

footer ul.copyright {
    width: 650px;
    height: 100px;
    float: left;
    padding-top: 15px;
    padding-left:20px;
    box-sizing: border-box;
}
footer ul.copyright li {
    float: left; 
    padding-right: 10px;
    line-height: 25px;
}

/*sns*/

/*방법1*/

/*
footer ul.sns {
    width: 350px;
    float: left;
    height: 100px;
}
footer ul.sns li{
    float: left;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border:1px solid #ccc;
    border-radius: 80px;
    margin-left: 25px;
    margin-top: 10px;
    font-size: 14px;
}

footer ul.sns li a{
    display: block;
}
footer ul.sns li:hover{
    background: #c88;
    color: #fff;
}
*/



/*sns 이미지로 만들기 방법2 onmouseover onmouseout 사용한다.*/

/*
footer ul.sns {
    width: 350px;
    float: left;
    height: 100px;
    padding-left: 45px;
    box-sizing: border-box;
}
footer ul.sns li{
    float: left;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-left: 30px;
    margin-top: 25px;
}

footer ul.sns li a{
    display: block;
}
footer ul.sns li:hover{
}
*/



/*sns 이미지로 만들기 방법3  백그라운드 이미지 교체방식*/
/*
footer ul.sns {
    width: 350px;
    float: left;
    height: 100px;
    padding-left: 45px;
    box-sizing: border-box;
}
footer ul.sns li{
    float: left;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-left: 30px;
    margin-top: 25px;
}

footer ul.sns li a{
    display: block;
}
footer ul.sns li:hover{
}

span.bt1 {
    display: block;
    width: 50px;
    height: 50px;
    background: url(../images/tw_g.png) no-repeat 50% 50%;
    background-size: 50px;
    
}

span.bt1:hover{
    background: url(../images/tw.png) no-repeat 50% 50%;
    background-size: 50px;
}

span.bt2 {
    display: block;
    width: 50px;
    height: 50px;
    background: url(../images/fb_g.png) no-repeat 50% 50%;
    background-size: 50px;
}

span.bt2:hover{
    background: url(../images/fb.png) no-repeat 50% 50%;
    background-size: 50px;
}

span.bt3 {
    display: block;
    width: 50px;
    height: 50px;
    background: url(../images/ins.png) no-repeat 50% 50%;
    filter: grayscale(100%);
    background-size: 50px;
    
}

span.bt3:hover{

    filter: grayscale(0%);
    background-size: 50px;
}*/




/*sns 이미지로 만들기 방법4: 백그라운드에 이미지,그레이이미지는 filter를 사용한다. */

footer ul.sns {
    width: 350px;
    float: left;
    height: 100px;
    padding-left: 45px;
    box-sizing: border-box;
}
footer ul.sns li{
    float: left;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-left: 30px;
    margin-top: 25px;
}

footer ul.sns li a{
    display: block;
}
footer ul.sns li:hover{
}

span.bt1 {
    display: block;
    width: 50px;
    height: 50px;
    background: url(../images/tw.png) no-repeat 50% 50%;
    filter: grayscale(100%);
    background-size: 50px;
    
}

span.bt1:hover{
    filter: grayscale(0%);
    background-size: 50px;
}

span.bt2 {
    display: block;
    width: 50px;
    height: 50px;
    background: url(../images/fb.png) no-repeat 50% 50%;
    filter: grayscale(100%);
    background-size: 50px;
}

span.bt2:hover{
    filter: grayscale(0%);
    background-size: 50px;
}

span.bt3 {
    display: block;
    width: 50px;
    height: 50px;
    background: url(../images/ins.png) no-repeat 50% 50%;
    filter: grayscale(100%);
    background-size: 50px;
    
}

span.bt3:hover{

    filter: grayscale(0%);
    background-size: 50px;
}

