@charset "utf-8";


* {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

.clear::after {
    clear: both;
    content: "";
    display: block;
}

body {
    font-family: "맑은 고딕", malgunGohic, arial, sans-serif;
    font-size: 15px;
    color: #333;
}

header,
footer,
section,
nav {
    display: block;
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 10;
    display: none;
}

.modal .modal_inner {
    position: absolute;
    width: 500px;
    height: 500px;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal .modal_inner .motitle {
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.modal .modal_inner .mocon {
    padding: 20px;

}

.modal .modal_inner button {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

.modal .modal_inner button:hover {
    background: #c88;
    color: #fff;
}

.wrap {
    width: 1200px;
    margin: 0 auto;
}

/*헤더 */
header {
    width: 1200px;
    height: 100px;
    position: relative;
    z-index: 1;
}

header h1 {
    float: left;
    width: 200px;
    padding-top: 30px;
}

header nav {
    float: right;
    width: 800px;
    padding-top: 30px;
}

header nav ul.gnb {
    float: left;
}

header nav ul.gnb > li {
    width: 200px;
    height: 40px;
    line-height: 40px;
    position: relative;
    float: left;
    text-align: center;
    background: #e6e6e6;
}

header nav ul.gnb > li > a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-weight: bold;

}

header nav ul.gnb > li:hover > a {
    background: #c88;
    color: #fff;
}



header nav ul.gnb > li > ul.sub {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 160px;
    background: #fff;
    display: none;
}

header nav ul.gnb > li > ul.sub > li {}

header nav ul.gnb > li > ul.sub > li a {
    display: block;
    width: 100%;
    height: 100%;
}

header nav ul.gnb > li > ul.sub > li:hover a {
    background: #c88;
    color: #fff;
}


/*슬라이더 */

.slider {
    width: 1200px;
    height: 300px;
    overflow: hidden;
}

.slider ul.slider_all {
    position: relative;
}

.slider ul.slider_all li {
    position: absolute;
    top: 0;
    left: 0;
}

.slider ul.slider_all li a {
    display: block;
    width: 100%;
    height: 100%;
}


/*컨텐츠 */

.contents {
    width: 1200px;
    height: 200px;

}

.contents h2 {
    width: 100px;
    height: 40px;
    line-height: 40px;
    background: #666;
    color: #fff;
    border-radius: 10px 10px 0 0;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
}

.contents h2:hover {
    background: #c88;
}



/*탭메뉴 공통부분 */
.contents section.con1 {
    width: 500px;
    height: 200px;
    float: left;
    position: relative;
}



.contents section.con1 h2 {
    position: absolute;
    top: 0;
    left: 0;
}

.contents section.con1 ul {
    position: absolute;
    top: 40px;
    left: 0;
    display: none;
}


.contents section.con1 h2.on {
    display: block;
    background: #c88;
}


.contents section.con1 h2.r100 {
    margin-left: 101px;
}


.contents section.con1 ul.on {
    display: block;
}


/*공지사항 */
.contents section.con1 ul.notice {
    width: 100%;
}

.contents section.con1 ul.notice li {
    position: relative;
    height: 40px;
    line-height: 40px;
}

.contents section.con1 ul.notice li a {
    display: block;
    width: 100%;
    height: 100%;
}

.contents section.con1 ul.notice li:hover a {
    color: #c88;
    font-weight: bold;
}

.contents section.con1 ul.notice li span.day {
    position: absolute;
    right: 20px;
}


/*갤러리*/
.contents section.con1 ul.gallery {
    width: 100%;
}

.contents section.con1 ul.gallery li {
    float: left;
    margin-left: 5px;
    margin-top: 10px;
}

.contents section.con1 ul.gallery li a {
    display: block;
}

.contents section.con1 ul.gallery li:hover a {
    opacity: 0.6;
}

/*배너*/
.contents section.con2 {
    width: 350px;
    height: 200px;
    float: left;

}

.contents section.con2 img {
    margin-top: 10px;
}


/*바로가기*/

.contents section.con3 {
    width: 350px;
    height: 200px;
    float: left;
}


.contents section.con3 ul.baro {}

.contents section.con3 ul.baro li {
    width: 80%;
    margin: 0 auto;
    height: 70px;
    line-height: 70px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid #ccc;
    margin-top: 5px;
    background: #e3e3e3;
}

.contents section.con3 ul.baro li a {
    display: block;
    font-weight: bold;
}

.contents section.con3 ul.baro li:hover {
    background: #c88;
    color: #fff;
}




/*풋터*/

footer {
    width: 1200px;
    height: 100px;
}

footer h3 {
    float: left;
    width: 200px;
    padding-top: 30px
}

footer ul.copy {
    float: left;
    width: 650px;
    height: 100px;
    padding-top: 15px;
    padding-left: 20px;
    box-sizing: border-box;
}

footer ul.copy li {
    float: left;
    margin-right: 20px;
    line-height: 25px;
}



/*sns */
footer ul.sns {
    float: left;
    width: 350px;
    height: 100px;
    position: relative;
    padding-left: 50px;
    box-sizing: border-box;
}


footer ul.sns li {
    float: left;
    width: 80px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    margin-left: 0px;
    margin-top: 10px;
}

footer ul.sns li a {
    display: block;
}

/*방법1*/
.bb1 {
    width: 50px;
    height: 50px;
    line-height: 50px;
}

.bb1:hover {
    width: 50px;
    height: 50px;
    line-height:50px;
}


/*방법2*/
span.bt1 {
    display: block;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    background: url("../images/tw.png") no-repeat 50% 50%;
}

span.bt1:hover {
    /*background: url("../images/tw_g.png") no-repeat 50% 50%;
    */
    filter: grayscale(100%);
    /*    line-height: 52px;*/
    background-size: 52px 52px;
}


span.bt2 {
    display: block;
    width: 80px;
    height: 80px;
    background: url("../images/fb.png") no-repeat 50% 50%;

}

span.bt2:hover {
    background: url("../images/fb_g.png") no-repeat 50% 50%;
    background-size: 52px 52px;

}


span.bt3 {
    display: block;
    width: 80px;
    height: 80px;
    background: url("../images/ins.png") no-repeat 50% 50%;

}

span.bt3:hover {
    background: url("../images/ins_g.png") no-repeat 50% 50%;
    background-size: 52px 52px;

}
